header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;

}
header  .logo a {
    font-size: 25px;
    color: #29d9d5;
 
}
header  .logo a span {
    color: #fff;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li  {
    margin: 0 15px;
    list-style-type: none;
}
.menu li a {
    color: #fff;
    font-size: 14px;
}
.btn-reservation {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-reservation:hover {
    background-color: #29d9d5;
    color: #fff;
 
}

.btn-contacter {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-contacter:hover {
    background-color: #29d9d5;
    color: #fff;
 
}



*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Contact {
    min-height: 100vh;
    background-color: #e8f0fe;
    padding: 50px;
    text-align: center;
}
.container h1{
    font-size: 36px;
    margin-bottom: 36px;
    color: #333;
}

.contact-form{
    text-align: left;

}

   

.form-group{
    margin-bottom: 30px;

}
input, textarea{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #F8F9FA;
    color: #333;
}
input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #4caf50;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 9px;
    color: #333;
}
.contact-info p{
margin-bottom: 9px;
color: #555;
}
.contact-info i{
    color: #4caf50;
    margin-right: 10px;
}
@media screen  and(max-width:800px){
    .container{
        padding: 20;
    }
    .contact-wrapper{
        grid-template-columns: repeat( 1fr);
    }
}
