* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

body {
    background-color: #111;
}

section {
    margin-top: 50px;
}

header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
}

header .logo a {
    font-size: 25px;
    color: #29d9d5;
}

header .logo a span {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 15px;
    list-style-type: none;
}

.menu li a {
    color: #fff;
    font-size: 14px;
}

.btn-reservation {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}

.btn-reservation:hover {
    background-color: #29d9d5;
    color: #fff;
}

.btn-contacter {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}

.btn-contacter:hover {
    background-color: #29d9d5;
    color: #fff;
}

h1 {
    color: white;
    font-weight: bold;
    margin-left: 35%;
    margin-top: 5%;
    margin-right: 35%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url(images/paris.jpg);
}

form {
    margin-top: 20px;
}

input {
    margin-left: 35%;
    display: block;
    margin-top: 10%;
    margin-left: 250%;
    padding: 10px;
    width: 200px;
}

button {
    margin-top: 10px;
    margin-left: 250%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
    
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    
  }
  
  .hero {
    position: relative;
    text-align: center;
  }
  
  .hero img {
    width: 60%;
    height: auto;
    object-fit: cover;
    filter: brightness(90%);
  }
  section {
    padding: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 5px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }